<!doctype html>  
<!--[if lt IE 7]>  
<html class="no-js lt-ie9 li-ie8 lt-ie7">  
<!-->  
<!—[if IE 7]>  
<html class="no-js lt-ie9 li-ie8">  
<!-->  
<!—[if IE 8]>  
<html class="no-js lt-ie9">  
<!-->  
<!—[if gt IE 8]>  
<html class="no-js">  
<!-->  
<head>  
<meta charset="utf-8">  
<meta http-equiv="X-UA-Compatible" content="IE=edge">  
<title>Title goes here</title>  
<meta name="description" content="">  
<!-- NEEDED -->  
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">  
<!-- NEEDED FOR IE8 -->  
<!-- HTML5 shim IE8 support of HTML5 elements -->  
<!--[if lt IE 9]>  
<script src="//www.saskatchewan.ca/assets/gos/js/html5shiv.js"></script>  
<!-->  
<link rel="stylesheet" href="/patternlibrary/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/patternlibrary/assets/css/bootstrap-v4-utils.css">
  <link rel="stylesheet" href="/patternlibrary/assets/css/bootstrap-overrides.css">
</head>  
<body>  
<!-- NEEDED -->  
<div id="headerGOS"></div>  
  <div class="container large-container">
    <div class="row">
      <div class="col-md-12">
            <h1>{{ page.gostitle }}</h1>
        </div>  
    </row>
    <div class="row">
      <div class="col-md-3">
       <aside class="nav" id="a-left-rail">
            <ul class="nav-items">
          <li><a href="./">Design Patterns</a></li>
          <li><a href="./html-elements">HTML Elements</a></li>
          <li><a href="./about">About DSO</a></li>
        </ul>
        </aside>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>
    </div>
  </div>
<!-- NEEDED -->  
<div id="footerGOS"></div>  
<!-- NEEDED -->  
<script type="text/javascript" src="//www.saskatchewan.ca/assets/gos/js/include-gos.min.js?gosBasePath=/patternlibrary/&labels=Pattern+Library&paths=/patternlibrary/" id="includeGOS"></script>  
</body>  
</html>   
